:root{--main-cl
}
*{box-sizing: border-box;}

img {display: block;}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color:#FFFFFF;
  
}
p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;


}
ul, ol {padding-left: 0;
margin-top: 0;
margin-bottom: 0;}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}


.header { 
  padding-top: 25px;
padding-bottom: 25px;
border-bottom: 1px solid #e7e9fc;
width: 1158px;
padding: 0 15px 0 15px ;
border-bottom: 1px solid #e7e9fc;}
.header-nav {display: flex;}
 
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.header-logo-web {
  color:#2e2f42;
}
.header-container {width: 1158px;}
.header-menu-item {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
}
.header-menu-item:hover,
.header-menu-item:focus {
  color: var(--ocean, #404bbf);
}
.header-contacts{
  font-style: normal;
  padding-left: 15px padding-right: 15px;
}
.headet-contacts-list {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.headet-contacts-list:hover,
.headet-contacts-list:focus {
  color: var(--ocean, #404bbf);
}
  .header-container {display: flex;
  align-items: center;}
.team-logo-list {display: flex;}
.doing-list {display: flex;}
.info-list {display: flex;}
.header-menu-list {display: flex; 
  gap: 40px;
}
.header-contacts-item { display: flex;
  gap: 40px;
 
}
.header-navigation {display: flex;
align-items: center;
gap: 72px;}



.portfolio-cont { padding-top: 96px; padding-bottom: 120px;}

.header-contacts {margin-left: auto;}

.effective-section { padding-top: 188px;padding-bottom: 188px;}

.effective-title {
  display: block; 
  color: var(--white, #fff);

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px; 
  margin-bottom: 48px;
 
}
.effective-title-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px ;
  border: none; 
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #4d5ae5;
  padding: 16px 32px;
  border-radius: 4px;

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  
  
}
.effective-title-btn:hover {
  
  background: var(--ocean, #404bbf);
  
}
.effective-title-btn:focus{background-color: #404BBF;}
.info-section {padding-top: 120px;
padding-bottom: 120px;}
.info-list { gap: 24px;}
  

.info-item {width: calc((100% - 72px) / 4);}
.info-item-logo {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
  
}
.info-item-text {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}
.doing-section {padding-bottom: 120px;}
.doing-logo {
  color: var(--navyblue, #2e2f42);

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px; 
}
.doing-list {padding-top:72px ;
  padding-bottom: 120px;
gap: 24px;}

.team {padding-top: 120px; padding-bottom: 120px;}
.team-logo{
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  margin-bottom: 72px; 
}
.team-info {padding-top: 32px;padding-bottom: 32px;}
.team-logo-list {
 background-color: #F4F4FD;
 gap: 24px;
}
 .team-logo-item{background-color: #FFFFFF;
  margin-bottom: 120px;
  

border-radius: 0px 0px 4px 4px;
background: var(--white, #FFF);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);}

.

.team-name {
  color: var(--navyblue, #2e2f42);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  margin-bottom: 8px;
  text-align: center;

}
.team-job-title {
  color: var(--slate, #434455);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  
}
.footer {padding-top: 100px;padding-bottom: 100px;}
.footer-item {padding: 102px 864px 100px 0px ;
}

.footer-logo {
  color: var(--iris, #4D5AE5);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo {font-family: "Raleway", sans-serif;
line-height: 1.17;
color: #4d5ae5;
}
.footer-logo-web {
  color: #f4f4fd;
}
.footer-info {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-logo {display: inline-block;
 margin-bottom: 16px;}
.effective-section {
  background: var(--navyblue, #2e2f42);
  
}

.effective-title-btn {
  background: var(--iris, #4d5ae5);
  
  
}
.team {
  background-color: #F4F4FD;
}
.doing-section{background-color: #FFFFFF;}
.footer {
  background: var(--navyblue, #2e2f42);
}

/*----------portfolio------------*/
.pr-btn-all {font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #4d5ae5;
background-color:#F4F4FD;
cursor: pointer;
border-radius: 4px;
border: 1px solid var(--cornflower, #E7E9FC);
background: var(--cloud, #F4F4FD);
}
.pr-btn-all:hover 
{color:#FFFFFF;
background-color: #404BBF;}
.pr-btn-all:focus
{color:#FFFFFF;
background-color: #404BBF;}

.pr-btn-web {font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #4d5ae5;
background-color:#F4F4FD;
}
.pr-btn-web:hover 
{color:#FFFFFF;
background-color: #404BBF;}
.pr-btn-web:focus
{color:#FFFFFF;
background-color: #404BBF;}
.pr-btn-app {font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #4d5ae5;
background-color:#F4F4FD;
}
.pr-btn-app:hover 
{color:#FFFFFF;
background-color: #404BBF;}
.pr-btn-app:focus
{color:#FFFFFF;
background-color: #404BBF;}
.pr-btn-desing {font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #4d5ae5;
background-color:#F4F4FD;
}
.pr-btn-desing:hover 
{color:#FFFFFF;
background-color: #404BBF;}
.pr-btn-desing:focus
{color:#FFFFFF;
background-color: #404BBF;}
.pr-btn-marcheting{font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #4d5ae5;
background-color:#F4F4FD;
}
.pr-btn-marcheting:hover 
{color:#FFFFFF;
background-color: #404BBF;}
.pr-btn-marcheting:focus
{color:#FFFFFF;
background-color: #404BBF;}
.team-name{font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}
.pr-btn-item{font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}
.pr-card {border: 1px solid var(--cornflower, #E7E9FC);
background: var(--white, #FFF);}
.button-main-container {padding-top: 96px;
padding-bottom: 72px;}

.team-name {padding-top: 32px;}
.pr-btn-item {padding-top: 8px;}
.containet-text-btn {padding: 188px 316px 292px 316px;
  
} 
.pr-btn-container {padding-bottom: 120px;}
.container{
  width:100%;
  max-width: 1440px;;
  padding-left: 156px;
  padding-right: 156px;
  margin: 0 auto;
  outline: 2px solid red;

}
.pr-btn {display: flex;
gap: 24px;
align-items: center;
justify-content: center;
padding: 12px 24px; 


  
}
.pr-card {display: flex;
 flex-wrap: wrap;
 margin-right: 24px;
 column-gap: 24px;
 row-gap: 48px;
 

}
.pr-btn-first {width: calc((100% - 48px) / 3);}



.team-banking {padding: 32px 16px;
padding: 32px 16px;
border-top: none; }
.team-name {border-top: none;margin-bottom: 8px ;}